*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #002339;
    color: #fff;
}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}

.container h1{
    font-weight: 500;
    font-size: 45px;
}

.container h1 span{
    color: #019f55;
    border-bottom: 3px solid #019f55;
    padding-bottom: 7px;
}

.display{
    width: 100%;
    margin-top: 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 20px;
    border-radius: 5px;
}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}

.generate-btn{
    border: 0;
    outline: 0;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    background: #019f55;
    color: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.generate-btn img{
    width: 28px;
    margin: 10px;

}