*{
    font-family: sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 400px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
}
.container i{
    color: #fff;
    font-size: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s;
}

